<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%= form_with model: @user, url: new_user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :hoge, "メールアドレス" %><br />
          <%= f.email_field :hoge, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :hoge, "パスワード（6文字以上）" %><br />
          <%= f.password_field :hoge, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :hoge, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :nickname, "ユーザー名" %><br />
          <%= f.text_field :nickname, id:"nickname" %>
        </div>
        <div class="weight-bold-text">
          エリア
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"area"}) %>



        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>