<%=  render "shared/header" %>
<div class="content-main">
<div class="content-list">
<div class="content-top">
<div class="category"><%= link_to image_tag("igo.jpeg" ), category_rooms_path(category_id: 2) %><p>ボードゲーム</p></div> 
<div class="category"><%= link_to image_tag("game.png" ),category_rooms_path(category_id: 3) %><p>デジタルゲーム</p> </div>
<div class="category"><%= link_to image_tag("comic.jpeg" ), category_rooms_path(category_id: 4) %><p>コミック<p></div>
</div>
<div class="content-center"> 
<div class="category"><%= link_to image_tag("movie.jpeg" ), category_rooms_path(category_id: 5) %><p>映画</p></div> 
<div class="category"><%= link_to image_tag("sport.jpeg" ), category_rooms_path(category_id: 6) %><p>スポーツ</p> </div>
<div class="category"><%= link_to image_tag("gamble.jpeg" ),category_rooms_path(category_id: 7) %><p>ギャンブル</p> </div>
</div>
<div class="content-bottom">
<div class="category"><%= link_to image_tag("etc.jpeg" ),category_rooms_path(category_id: 8) %><p>その他</p> </div>
<% if user_signed_in?%>
<div class="category">
<%= link_to image_tag("join.jpeg" ), join_rooms_path %><p>所属ルーム</p>

</div>
<div class="category"> 
<%= link_to image_tag("recomend.jpeg" ), recomend_rooms_path %><p>オススメ</p>



</div>
<% end %>
</div>



</div>
</div>


<%= render "shared/footer"%>